$base-font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;

$theme-color-light: rgb(164, 221, 207);
$theme-color-midlight: rgb(225, 122, 111);
$theme-color-mid: rgb(109, 152, 170);
$theme-color-middark: rgb(170, 109, 120);
$theme-color-dark: rgb(41, 96, 119);

$min-floors: 1;
$max-floors: 4;

$unit-rows: 3;
$unit-cols: 4;
